<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="scau.chao.ase"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="scau.chao.ase.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="scau.chao.ase.splash.SplashActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="scau.chao.ase.guide.GuideActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="scau.chao.ase.dragimage.DragImageActivity"
            android:label="@string/gallery" >
        </activity>
        <activity
            android:name="scau.chao.ase.edittextsearch.EditTextSearchActivity"
            android:label="@string/title_activity_edit_text_search" >
        </activity>
        <activity
            android:name="scau.chao.ase.autocompletetext.AutoCompleteTextActivity"
            android:label="@string/title_activity_auto_complete_text" >
        </activity>
        <activity
            android:name="scau.chao.ase.spinneranimation.SpinnerAnimationActivity"
            android:label="@string/title_activity_spinner_animation" >
        </activity>
        <activity
            android:name="scau.chao.ase.playguessplacard.PlayGuessPlacardActivity"
            android:label="@string/title_activity_play_guess_placard" >
        </activity>
    </application>

</manifest>